<h1><%= @recipe.name %></h1>
<%= image_tag @recipe.image, if @recipe.image.present? %>
<ul>
<li>Name: <%= @recipe.name %></li>
<li>Serving: <%= @recipe.serving %></li>
<li>Time: <%= @recipe.time %></li>
<li>Directions: <%= @recipe.description %></li>
</ul>























